<!-- usaremos un menu de material para mostrar los enlaces -->
<ul class="nav">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="administracion">Administración</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="clientes">Clientes</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="login">Login</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" (click)="logOut()">LogOut</a>
  </li>
</ul>
